
<h2>Listado json</h2>

<div class="container" ng-app="myApp" ng-controller="AgencyController">
  <p>{{mensaje}}</p>
  <br>


  <!-- +++++++++++++++ Start display chart +++++++++++++++ -->

  <h1 class="page-header">Display charts</h1>



  <div id="chartsDiv" class="saveChart">

    <div class="row">
      <div class="col-md-6">
        <div class="tagPie">
          <h4 class="blueColor">Q1 YTD SALES</h4>
          <h2 class="blueColor">${{}}</h2>

          <h5 class="redColor">Q1 YTD GOAL</h5>
          <h3 class="redColor">${{}}</h3>
          </div>
        <div id="chartpies"></div>
        <div class="pietext">
          <h2>${{}}</h2>
          <h4>Q1 Goal</h4>
        </div>
      </div>
      <div class="col-md-6">
        <div class="title"><h4>Sales Comparison</h4></div>
        <div id="chartdiv"></div>
        <div id="chartyears"></div>
      </div>
    </div>
  </div>
  <!-- +++++++++++++++++++++++++++++ -->



  <h3>Agency list</h3>
  <ul>
    <li ng-repeat="x in linkAgency track by $index">
      <a href="{{x}}">Agency:{{x}}</a>
      <input type="button" class="btn btn-primary" value="Pedir el Mensaje" ng-click="pedirValor(x)"/>
    </li>
  </ul>

  <h2>Aquí va el: {{mundo}}</h2>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="tTop">Months</th>
        <th class="tTop">2014</th>
        <th class="tTop">2015</th>
        <th class="tTop"><>(US$)</th>
        <th class="tTop">r'LY</th>
        <th class="tTop">Goal</th>
        <th class="tTop"><>Goal</th>
        <th class="tTop">LH</th>
        <th class="tTop">r'LY</th>
        <th class="tTop">REG</th>
        <th class="tTop">r'LY</th>
        <th class="tTop">DOM</th>
        <th class="tTop">r'LY</th>
        <th class="tTop">Other</th>
        <th class="tTop">r'LY</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Jan</th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
      </tr>

      <tr>
        <th scope="row">Feb</th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
      </tr>

      <tr>
        <th scope="row">Mar</th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
      </tr>

      <tr>
        <th scope="row">Apr</th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
      </tr>

      <tr>
        <th scope="row">May</th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
      </tr>

      <tr>
        <th scope="row">June</th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
      </tr>

      <tr>
        <th scope="row">Jul</th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
      </tr>

      <tr>
        <th scope="row">Aug</th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
      </tr>

      <tr>
        <th scope="row">Sep</th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
      </tr>

      <tr>
        <th scope="row">Oct</th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
      </tr>

      <tr>
        <th scope="row">Nov</th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
      </tr>

      <tr>
        <th scope="row">Dec</th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
      </tr>
    </tbody>
  </table>
