<div class="container" ng-app="myApp" ng-controller="AgencyController">
  <h2>Listado json</h2>

  <p>{{mensaje}}</p>
  <br>

  <h3>Agency list</h3>
  <div class="container-fluid">
    <form class="form-inline">
      <input ng-repeat="x in linkAgency track by $index" type="button" class="btn btn-primary btMar" value="{{x}}" ng-click="pedirValor(x)"/>
    </form>
  </div>


  <!-- +++++++++++++++ Start display chart +++++++++++++++ -->

  <h1 class="page-header">Display charts</h1>



  <div id="chartsDiv" class="saveChart">

    <div class="row">
      <div class="col-md-6">
        <div class="tagPie">
          <h4 class="blueColor">Q1 YTD SALES</h4>
          <h2 class="blueColor">${{goalPieSale}}</h2>

          <h5 class="redColor">Q1 YTD GOAL</h5>
          <h3 class="redColor">${{goalPie}}</h3>
          </div>
        <div id="chartpies"></div>
        <div class="pietext">
          <h2>${{goalPieTotal}}</h2>
          <h4>Q1 Goal</h4>
        </div>
      </div>
      <div class="col-md-6">
        <div class="title"><h4>Sales Comparison</h4></div>
        <div id="chartdiv"></div>
        <div id="chartyears"></div>
      </div>
    </div>
  </div>
  <!-- +++++++++++++++++++++++++++++ -->


  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="tTop">Months</th>
        <th class="tTop">2014</th>
        <th class="tTop">2015</th>
        <th class="tTop"><>(US$)</th>
        <th class="tTop">r'LY</th>
        <th class="tTop">Goal</th>
        <th class="tTop">r'Goal</th>
        <th class="tTop">LH</th>
        <th class="tTop">r'LY</th>
        <th class="tTop">REG</th>
        <th class="tTop">r'LY</th>
        <th class="tTop">DOM</th>
        <th class="tTop">r'LY</th>
        <th class="tTop">Other</th>
        <th class="tTop">r'LY</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Jan</th>
        <th><p class="content" contenteditable="true">{{lyViewJan}}</p></th>
        <th><p class="content" contenteditable="true">{{ayViewJan}}</p></th>
        <th class="colGr"><p class="content" contenteditable="true">{{usDollarJan}}</p></th>
        <th><p class="content" contenteditable="true">{{rLYJan}}%</p></th>
        <th class="colGr"><p class="content" contenteditable="true">{{goalTabJan}}</p></th>
        <th><p class="content" contenteditable="true">{{rgoalTabJan}}%</p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
      </tr>

      <tr>
        <th scope="row">Feb</th>
        <th><p class="content" contenteditable="true">{{lyViewFeb}}</p></th>
        <th><p class="content" contenteditable="true">{{ayViewFeb}}</p></th>
        <th class="colGr"><p class="content" contenteditable="true">{{usDollarFeb}}</p></th>
        <th><p class="content" contenteditable="true">{{rLYFeb}}%</p></th>
        <th class="colGr"><p class="content" contenteditable="true">{{goalTabFeb}}</p></th>
        <th><p class="content" contenteditable="true">{{rgoalTabJan}}%</p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
      </tr>

      <tr>
        <th scope="row">Mar</th>
        <th><p class="content" contenteditable="true">{{lyViewMar}}</p></th>
        <th><p class="content" contenteditable="true">{{ayViewMar}}</p></th>
        <th class="colGr"><p class="content" contenteditable="true">{{usDollarMar}}</p></th>
        <th><p class="content" contenteditable="true">{{rLYMar}}%</p></th>
        <th class="colGr"><p class="content" contenteditable="true">{{goalTabMar}}</p></th>
        <th><p class="content" contenteditable="true">{{rgoalTabJan}}%</p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
        <th><p class="content" contenteditable="true"> </p></th>
        <th class="colGr"><p class="content" contenteditable="true"> </p></th>
      </tr>

    </tbody>
  </table>
