@font-face{
  //font-family:Zwo-Alt-LF-w-3;
  //src: url("http://bluem.tv/Zwo-Alt-LF-w-3.otf")
}

body{
  a{
    //font-family:Zwo-Alt-LF-w-3;
  }
}

p {
  padding: 0 !important;
  margin-top: 5px;
}
#chartdiv {
	width		: 90%;
	height		: 150px;
	font-size	: 11px;
}

#charteconomy {
	width		: 100%;
	height		: 200px;
	font-size	: 9px;
}

#chartpremium  {
	width		: 100%;
	height		: 200px;
	font-size	: 9px;
}

#chartyears {
	width		: 100%;
	height		: 200px;
	font-size	: 9px;
}
#chartpies {
	width		: 100%;
	height		: 300px;
	font-size	: 9px;
}
.title{
  background-color: #C0C0C0;
  padding: 1px 15px;
}
.pietext{
  text-align: center;
  h2{
    color: #bb282e;
    font-size: 2em;
    margin: 0;
  }
  h4{
    margin: 5px 0;
  }
}

.amcharts-chart-div{
  a{
    display: none !important;
  }
}


.tagPie{
  position: absolute;
  left: 228px;
  top: 90px;
  height: 120px;
  width: 130px;
  text-align: center;

  h5{
     margin: 10px 0 0 0;
  }
  h4{
    margin: 1px 0;
  }
  h3{
    margin: 1px 0;
    font-size: 1.8em;
  }
  h2{
    margin: 0;
    font-size: 2em;
  }
}

.blueColor{
  color: #003d7d;
}
.redColor{
  color: #bb282e;
}
.saveChart{
  height: 400px;
}
thead {
  background-color: #003d7d;
  color: white;
}
.tTop {
  text-align: center;
}
tr{
  th{
    padding: 0 8px !important;
  }
}

.btMar{
  margin-right: 5px;
}

.content {
  text-align: center;
}

.colGr{
  background-color: #f0f0f0;
}

.texTitleBl{
color: #006dab;
}

.texTitleBd{
color: #003d7d;
}


@import "bootstrap-sprockets";
@import "bootstrap";
