<!DOCTYPE html>
<html>
<head>
  <title>Agencytest</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src= "https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/amcharts/3.13.0/amcharts.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/amcharts/3.13.0/serial.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/amcharts/3.13.0/themes/light.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/amcharts/3.13.0/pie.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script>

  var app = angular.module("myApp", []);

  var datos = new Array();
  var iataCount = new Array();
  var vectorIata = new Array();
  var myObjeto = {};
  const regCount = 48;


  // +++++++++++++++++++++++++++++
    // VARS ARRAYS
    // +++++++++++++++++++++++++++++
    /*
    var greyResult = 0;
    var pies       = new Array();
    var comparison = new Array();
    var yearBlue   = new Array();
    var yearRed    = new Array();
    var colorBar   = new Array();
    */

    // +++++++++++++++++++++++++++++
    // SET ALL VARS VALUES = 0
    // +++++++++++++++++++++++++++++
  /*
    for(var i = 1; i < 6; i++){
      eval("$scope.pie"+ i +"= 0");
    }


    for(var i=1; i<14; i++){
      eval("$scope.ecoSales"+ i +"= 0");
      eval("$scope.preSales"+ i +"= 0");
      eval("$scope.yearsBlue"+ i +"= 0");
      eval("$scope.yearsRed"+ i +"= 0");
      eval("$scope.salesComp"+ i +"= 0");
    }
    */


  app.controller("AgencyController", function($http, $scope, $q, $log){
  	var defered = $q.defer();
    var promise = defered.promise;


    getAll();

    function getAll () {
      $http.get('https://stormy-castle-4138.herokuapp.com/agencies.json')
        .success(function(data) {
          defered.resolve(data);
    		})
    		.error(function(err) {
          defered.reject(err)
        });
      return promise;
    }

    // +++++++++++++++++++  START FUNCTION AFTER LOAD JSON +++++++++++++++++++++++++++++++


   	defered.promise.then(function(data){
   		$log.log("Promesa cumplida");

   		$scope.months = data;
    	$scope.mensaje = data;
      $scope.mundo ="_";

      var iataCompare = data[0].iata;
      var t = 1;
      iataCount[0] = data[0].iata;

  		for(var i=0; i < data.length; i++){

        vectorIata[i] = data[i].iata;

        if(iataCompare != data[i].iata){
          iataCompare = data[i].iata;
          iataCount[t] = data[i].iata;
          t++;
        }
    	}

      $scope.linkAgency = iataCount.slice();

      function cargaAgencia(valor, datos){
        var showAgency = new Array();
        $scope.mundo = valor;

        var k = 0;

        for(i=0; i<= datos.length; i++){

          if (valor == vectorIata[i]) {
            showAgency[k] = datos[i];
            k++;
          }
        }



        // SET EMPTY VALUES VECTOR ###########################

        if(showAgency.length < regCount){

          for(var i=showAgency.length; i < regCount; i++){
            showAgency[i] = showAgency[0];
            showAgency[i].id = 0;
            showAgency[i].month = "";
            showAgency[i].negocio = "";
            showAgency[i].revenue = 0;
            showAgency[i].cabina = "";
            showAgency[i].name = "";
          }
        }

        for(var i=0; i < regCount; i++){
          $log.log(showAgency[i].iata);
        }



        // ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
        // ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
        // START ALL FUNCTIONS
        // ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
        // ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


        // +++++++++ BEGIN FUNCTION PIE +++++++++ //


          /*  ///// CODE FOR LOAD DATA IN PIE

          for(var i=1; i<6; i++){
            pies[i] = eval("$scope.pie"+ i);
          }

          greyResult = 100 - (parseInt(pies[1]) + parseInt(pies[2]));
          */

          $scope.goalPieTotal = 100000;
          $scope.goalPieSale = 28600;
          $scope.goalPie = 30000;

          AmCharts.makeChart("chartpies",
          {
            "type": "pie",
            "pathToImages": "http://cdn.amcharts.com/lib/3/images/",
            "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
            "innerRadius": 80,
            "labelText": "[[value]] %",
            "minRadius": 120,
            "startRadius": "100%",

            "colors": [
              "#003d7d",
              "#bb282e",
              "#4d4d4d"
            ],
            "pullOutDuration": 0,
            "startDuration": 0,
            "titleField": "country",
            "valueField": "litres",
            "fontSize": 12,
            "theme": "default",
            "allLabels": [],
            "balloon": {},
            "titles": [],
            "dataProvider": [
              {
                "country": 28600,
                "litres": 28
              },
              {
                "country": 30000,
                "litres": 30
              },
              {
                "country": 60,
                "litres": 60
              }
            ]
          });
        // +++++++++ END FUNCTION PIE +++++++++ //


        // +++++++++ BEGIN FUNCTION SALES COMPARISON +++++++++ //

          /* ///// LOAD DATA FOR COMPARISON
          for(var i=1; i<14; i++){
            comparison[i] = eval("$scope.salesComp"+ i);
          }
          */

          var chart = AmCharts.makeChart("chartdiv", {
            "type": "serial",
          	"theme": "light",

              "dataProvider": [{
                  "title": "GOAL <br>$" + 627481,
                  "economy": 237659,
                  "color": "#003d7d",
                  "premium": 389882,
                  "color2": "#006dab"
              }, {
                  "title": "2015 <br>$"+ 627481,
                  "economy": 242659,
                  "color": "#003d7d",
                  "premium": 384882,
                  "color2": "#006dab"
              }, {
                  "title": "2014 <br>$"+ 732065,
                  "economy": 320726,
                  "color": "#003d7d",
                  "premium": 441338,
                  "color2": "#006dab"
              }],
              "valueAxes": [{
                  "stackType": "regular",
                  "axisAlpha": 0.5, //0.5
                  "gridAlpha": 0
              }],
              "graphs": [{
                  "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                  "fillAlphas": 0.8,
                  "fillColorsField": "color",
                  "labelText": "[[value]]",
                  "lineAlpha": 0,
                  "title": "economy",
                  "type": "column",
          		    "color": "#FFFFFF",
                  "valueField": "economy"
              }, {
                  "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                  "fillAlphas": 0.8,
                  "fillColorsField": "color",
                  "labelText": "[[value]]",
                  "lineAlpha": 0,
                  "title": "premium",
                  "type": "column",
          		    "color": "#FFFFFF",
                  "valueField": "premium"

              }],
              "rotate": true,
              "categoryField": "title",
              "categoryAxis": {
                  "gridPosition": "start",
                  "axisAlpha": 0,
                  "gridAlpha": 0,
                  "position": "left",

              }
          });

        // +++++++++ END FUNCTION SALES COMPARISON +++++++++ //


          // +++++++++ BEGIN FUNCTION YEARS +++++++++ //

            /* ////LOAD DATA FOR YEARS
            for(var i=1; i<14; i++){
              yearBlue[i] = eval("$scope.yearsBlue"+ i);
              yearRed[i] = eval("$scope.yearsRed"+ i);
            }
            */

            AmCharts.makeChart("chartyears",
            {
            	"type": "serial",
            	"categoryField": "category",
            	"autoMarginOffset": 40,
            	"marginRight": 60,
            	"marginTop": 60,
            	"fontSize": 13,
            	"theme": "default",
            	"categoryAxis": {
            		"gridPosition": "start"
            	},
            	"trendLines": [],
            	"graphs": [
            		{
            			"balloonText": "[[title]] of [[category]]:[[value]]",
            			"bullet": "round",
            			"bulletBorderThickness": 1,
            			"bulletSize": 5,
            			"fillColors": "#003d7d",
            			"id": "AmGraph-1",
            			"lineColor": "#003d7d",
            			"lineThickness": 2,
            			"title": "graph 1",
            			"valueField": "column-1"
            		},
            		{
            			"bullet": "round",
            			"bulletBorderThickness": 1,
            			"bulletSize": 5,
            			"fillColors": "#bb282e",
            			"id": "AmGraph-2",
            			"lineColor": "#bb282e",
            			"title": "graph 2",
            			"valueField": "column-2"
            		}
            	],
            	"guides": [],
            	"valueAxes": [
            		{
            			"id": "ValueAxis-1",
            			"title": ""
            		}
            	],
            	"allLabels": [],
            	"balloon": {},
            	"titles": [],
            	"dataProvider": [
            		{
            			"category": "Jan",
            			"column-1": 1,
            			"column-2": 3
            		},
            		{
            			"category": "Feb",
            			"column-1": 2,
            			"column-2": 1
            		},
            		{
            			"category": "Mar",
            			"column-1": 3,
            			"column-2": 5
            		},
            		{
            			"category": "Apr",
            			"column-1": 4,
            			"column-2": 8
            		},
            		{
            			"category": "May",
            			"column-1": 5,
            			"column-2": 7
            		},
            		{
            			"category": "Jun",
            			"column-1": 3,
            			"column-2": 2
            		},
            		{
            			"category": "Jul",
            			"column-1": 2,
            			"column-2": 6
            		},
            		{
            			"category": "Aug",
            			"column-1": 3,
            			"column-2": 5
            		},
            		{
            			"category": "Sep",
            			"column-1": 6,
            			"column-2": 6
            		},
            		{
            			"category": "Oct",
            			"column-1": 8,
            			"column-2": 3
            		},
            		{
            			"category": "Nov",
            			"column-1": 5,
            			"column-2": 6
            		},
            		{
            			"category": "Dec",
            			"column-1": 9,
            			"column-2": 4
            		}
            	]
            });
          // +++++++++ END FUNCTION YEARS +++++++++ //

    }

    $scope.pedirValor = function(valor){
      datos = data.slice();
      cargaAgencia(valor, datos);
    }


  });

});
</script>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
